[submodule "bimanu-backend"]
	path = bimanu-backend
	url = git@github.com:Philipp-Rudolph/bimanu-backend.git
	branch = main
[submodule "bimanu-frontend"]
	path = bimanu-frontend
	url = git@github.com:Philipp-Rudolph/bimanu-frontend.git
	branch = main